<section id="detailSection" class="detail-section">
     <div id="detail" class="detail-content"></div>
     <div class="quotes-list">
       <h2>Quotes</h2>
       <div id="quoteList">
       </div>
     </div>
     <form id="quote-form" class="quote-form" novalidate>
       <div class="quote-input">
         <label for="quote">Quote of this show</label>
         <input id="quote" placeholder="Add your quote" class="input primary" type="text">
       </div>
       <button type="submit" class="button primary">Search</button>
     </form>
   </section>