<section id="detailSection" class="detail-section">
  <div id="detail" class="detail-content">
  </div>
  <div class="quotes-list">
    <h2>Comments</h2>
    <div id="quoteList">
    </div>
  </div>
  <form id="quote-form" class="quote-form" novalidate>
    <div class="quote-input">
      <label for="quote">Review this beer</label>
      <input id="quote" placeholder="Write your opinion" class="input primary" type="text">
    </div>
    <button type="submit" class="button primary">Send</button>
  </form>
</section>