.app-navbar {
    background-color: $primary-color-dark;
    display: flex;  
    justify-content: space-between;
    align-items: center;
    margin: 0;
    position: fixed;
    right: 0;
    top: 0;
    left: 0;
    z-index: 1;
    padding: 1.2rem;
  
    img {
        width: 100%;
        height: 6rem;
    }
    a {
       font-size: $logo-font;
       color: $primary-color-text;
    }
    .fas {
       font-size: 2rem;
       cursor: pointer;
       color: $primary-color-text;
    }
    .filter-container {
       color: $primary-color-text;
       width: 80%;
       z-index: 2;
       margin-right:20px; 
       @include tablet {
           width: 40%;
           z-index: 2;
           left: 1rem;
       }
    }
    .filter-input {
       display: flex;
       z-index: 2;
    }
   
    /* state */
    &.no-search {
        .filter-container,
        .fa-times {
            display: none;
        }
        .navbar-logo,
        .navbar-icon,
        .fa-search {
           display: inline-block; 
           z-index: 2;
        }
        @include desktop {
            .filter-container {
                display: inline-block;
                position: relative;
                right: 0;
                z-index: 2;
            }
            .navbar-icon {
                display: none;
            }
        }
    }
   
    &.search {
        .filter-container,
        .fa-times {
           display: inline-block;
           position: relative;
           right: 0;
           z-index: 2;
        }
        .navbar-logo,
        .fa-search{
           display: none; 
           position: absolute;
           right: 0;
           z-index: 2;
           @include tablet {
            .navbar-log {
                color: white;
                z-index: 3;
            }
           }
        }
    }
    .photoPicture {
        position: absolute;
       /*  opacity: 0.5; */
        width: 100%;
        top: 0;
        right: 0;
        z-index: 1;
    }
}