$primary-color-dark:   #FFA000;
$primary-color:        #FFC107;
$primary-color-light:  #FFECB3;
$primary-color-text:   #212121;
$accent-color:         #9E9E9E;
$primary-text-color:   #212121;
$secondary-text-color: #757575;
$divider-color:        #BDBDBD;


$primary-font-size: 1rem;
$icons: $primary-font-size + .5rem;
$header-h2: $primary-font-size + .2rem;
$logo-font: $primary-font-size + 2rem;

$tablet-width: 768px;
$desktop-width: 992px;
$large-desktop-width: 1024px;